body {
  min-height: 100vh;
  margin: 0;
  background-color: #e4f1fe;
  font-family: 'PT Serif', serif;
  font-weight: bolder;
  color: #22313f;
  display:flex;
  flex-direction:column;
}

header {
  background-color: #e1e0e9a8;
  min-height:10px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
}

article{ flex:1; }

footer {
  min-height:50px;
  text-align: center;
}

body {
  display:flex;
  flex-direction:column;
}

.main-block {
  margin: auto;
  text-align: center;
}

.registration-form {
  margin: auto;
  text-align: center;
  width: fit-content;
}

.succes-alert {
  margin: auto;
  width: fit-content;
}

div.inline-options { float:left; }

.clearBoth { clear:both; }

input[type="file"]::file-selector-button {
  background-color: #34495e;
  font-weight: bold;
  color: white;
  padding: 0.55rem 0.675rem;
  border: none;
  border-radius: 8px;
  }

input[type="file"]::file-selector-button:hover {
  background-color: #526980;
  cursor: pointer;
}

dotlottie-player {
  margin: auto;
}

.start-btn {
  background-color: #34495e;
  font-weight: bold;
  color: white;
  padding: 0.55rem 0.66rem;
  border: none;
  border-radius: 8px;
}

.start-btn:hover {
  background-color: #526980;
  cursor: pointer;
}

.upload-text {
  padding-bottom: 50px;
}

.gradient-background {
  background: linear-gradient(300deg, #e0ebeb, #a7bcb9, #24527a);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.btn{
  margin-left:50px;
  }

.navbar-brand {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.preview-title {
  text-align: center;
}

svg {
  margin-right: 10px;
}

.counts {
  padding-top: 10px;
}

.data-form {
  margin-top: 30px;
  padding-left: 10px;
}


.selection {
  color: white;
  background-color: #34495e;
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
}

.selection {
  cursor: pointer;
}

.data-preview {
  width: 100%;
}

.selection-label {
  margin-left: 18px;
}

.calculate {
  color: white;
  background-color: #34495e;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.result {
  position:relative;
  top:1px;
  display:inline-block;
  border: 2px solid #34495e;
  margin-left: 15px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.arrow {
  margin-right: 5px;
}

.plot-display {
  object-fit: cover;
  display: flex;
}

.plot-img {
  background-color: #e4f1fe;
}


.calculate-line {
  margin-left: 5px;
}

#ml-functions {
  margin-left: 5px;
}

#ml-functions-label {
  margin-left: 15px;
}