body {
    min-height: 100vh;
    margin: 0;
    background-color: #e4f1fe;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-weight: bolder;
    color: #22313f;
    display:flex;
    flex-direction:column;
}

header {
    min-height:50px;
    padding: 50px 50px;
    margin: auto;
}

article{ flex:1; }

footer {
    min-height:50px;
}

body {
    display:flex;
    flex-direction:column;
}

input[type="file"]::file-selector-button {
    background-color: #34495e;
    font-weight: bold;
    color: white;
    padding: 0.55rem 0.675rem;
    border: none;
    border-radius: 8px;
  }

input[type="file"]::file-selector-button:hover {
  background-color: #526980;
  cursor: pointer;
}

.start-btn {
    background-color: #34495e;
    font-weight: bold;
    color: white;
    padding: 0.55rem 0.66rem;
    border: none;
    border-radius: 8px;
}

.start-btn:hover {
    background-color: #526980;
    cursor: pointer;
}

.upload-text {
    padding-bottom: 50px;
}

