body {
    min-height: 100vh;
    margin: 0;
    background-color: #eaf6f6;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-weight: bolder;
    display:flex;
    flex-direction:column;
}

header {
    min-height:50px;
    padding: 50px 50px;
    margin: auto;
}

article{ flex:1; }

footer {
    min-height:50px;
}

body {
    display:flex;
    flex-direction:column;
}


input[type="file"]::file-selector-button {
    background-color: #0d6efd;
    font-weight: bold;
    color: white;
    padding: 0.55rem 0.675rem;
    border: none;
    border-radius: 8px;
  }
  

  input[type="file"]::file-selector-button:hover {
    background-color: #0a58ca;
    cursor: pointer;
  }

.upload-text {
    padding-bottom: 50px;
}